{% extends 'admin/index.html.twig' %}

    {% block title %}Gestion des utilisateurs{% endblock %}
    {% block body %}
        <h1>Créer un nouvel utilisateur</h1>
            <div class="container form">
                <div class="d-flex justify-content-center">
                    {{ include('admin/user/_form.html.twig') }}
                </div>
                <div class="centered">
                    <button type="button" id="back" name="back" title="back" class="btn btn-back" onclick="window.location.href = '{{ path('app_admin_user_index') }}';">
                        retour à liste des utilisateurs
                    </button>
                </div>
            </div>
    {% endblock %}
    {% block footer %} {% endblock %}