{% extends 'base.html.twig' %}

{% block title %}Réservation !{% endblock %}
{% block headerLogged %} {% endblock %}

{% block navbarLogged %} {% endblock %}

{% block body %}

 <main>
 <!-- EQUIPEMENT TITLE -->
      <div class="album pt-5 bg-light">
        <h1>  </h1>
      </div>
    <!-- /EQUIPEMENT TITLE -->

    <!-- PRODUCT -->

    <div class="container">
      <div class="container-fluid">
        <div class="wrapper row">

          <div class="preview col-md-6">
            <div class="album py-5 preview-pic tab-content">
              <div class="row justify-content-md-center no-gutters">
                <div class="col-md-6 col-resize-p">
                  <div class="card mb-6 box-shadow">
                    <img class="card-img-top" src="/assets/img/gallery/modem.png" alt="modem">
                    <div class="card-body">
                      <p class="card-text">Modem</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="details col-md-6 bg-light bg-gradient justify-content">
            <h3 class="product-title">Modem</h3>
            <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed neque, corporis,
              explicabo ipsa placeat obcaecati velit voluptate pariatur illum illo iusto! Culpa nulla deleniti
              blanditiis vel totam temporibus maxime non.</p>
            <h4 class="colors disponibility">
              <span class="color green available" data-toggle="tooltip" title="Not In store">Disponible</span>
            </h4>
            <div class="emplacement">Emplacement</div>
          </div>

        </div>
      </div>
    </div>

    <!-- /PRODUCT -->

  </main>

{% endblock %}
{% block footer %} {% endblock %}
