.footer-container {
    width: 100%;
    min-height: 50%;
    color: black;
  }
  
  .footer-container-connected {
    min-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  div .item {
    display: inline;
  }
  
  .float-right {
    float: right;
    margin-right: 20px;
  }