{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}
{% block headerLogged %} {% endblock %}

{% block navbarLogged %} {% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>
    <div class="container">
        <div class="d-flex justify-content-center">
        {{ include('user/_form.html.twig') }}
        <a href="{{ path('app_user_index') }}">Retour aux utilisateurs</a>
    </div>
{% endblock %}
{% block footer %} {% endblock %}